<%- include header %>

<section class="wrapper">
        <div class="inner">
            <header class="major special">
            <h2>About Us</h2>
            </header>
            <header>
                <h5 class="major special">We are a group of people who aim in 
                helping connect students and teachers from anywhere in the world.</h5>
            </header>
            <img src="/images/about-us.jpg" alt="about-us.jpg" class="align-center"/>
        </div>
</section>

<section class="wrapper style2">
    <div class="container">
        <div class="inner">
            <header class="major special">
                <h2>Contact Us</h2>
            </header>
            <p class="align-center">Interested in joining us? Take action right away!</p>
            
            <h5 class="align-center"><i class="icon fa-phone"></i>Phone: 0468-992-728</h5>
            <p>  </p>
            
            <h5 class="align-center"><i class="icon fa-envelope"></i>Email: info@paprikaaction.com</h5>
            
        </div>
    </div>
</section>

<%- include footer %>