<%- include header %>

<section id="main" class="wrapper">
    <div class="container">

        <header class="major special">
            <h2>About Us</h2>
            <p>We are a group of people who aim in helping connect students and teachers from anywhere in the world.</p>
        </header>


        <a href="#" class="image fit"><img src="../public/images/pic02.jpg" alt="" /></a>

        <h2>Contact Us</h2>
        <p>Interested in joining us? Take action right away!</p>
        <p>
            <i class="icon fa-phone"></i>
            <a href="#">Phone: 0468-992-728</a>
        </p>
        <p>
            <i class="icon fa-envelope"></i>
            <a href="#">Email: info@paprikaaction.com</a>
        </p>

    </div>
</section>

<%- include footer %>