<%- include header %>

<!-- create your topic -->

<section class="wrapper style1">
    <div class="inner">

        <h3 class="align-center"> Create your own topic </h3>
        <h2 class="align-center">

            class:
            <%= theClass.className%>
        </h2>

        <hr>
        <form method="post" enctype="multipart/form-data">
            <div class="row uniform 50%">
                <div class="6u 12u$(xsmall)">
                    <input type="text" name="topicName" placeholder="Your topic title" required/>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Write your topic content</h4>
                            <h6 class="card-subtitle">Share Your Mind</h6>
                            <p>  </p>
                            <form method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <textarea name="article" class="textarea_editor form-control" rows="15" placeholder="Enter text ..."></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        
                <div class="6u 12u$(xsmall)">
                    <label for="name"> <h4>Upload your topic associated image</h4> </label>
                    <input type="file" name="postImg" />
                </div>

                <input type="hidden" name="viewer" value=0 />

                <div class="12u$">
                    <ul class="actions align-center">
                        <li class="align-center">
                            <input type="submit" value="New topic create" class="special"/>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</section>

<%- include footer %>