<%- include header %>

<!-- upload your lessons -->

<section id="upload-new-lesson" class="wrapper style1">
    <div class="inner">
        <h3 class="align-center">
            Upload the lesson in your class
        </h3>

        <h2 class="align-center">
            <%= createdClass.className%>
        </h2>

        <form method="post" enctype="multipart/form-data">
            <div class="row uniform 50%">

                <!-- lesson name -->
                <div class="6u 12u$(xsmall)">
                    <label> lesson name </label>
                    <input type="text" name="lessonName" placeholder="Your lesson name" required/>
                </div>

                <!-- lesson description -->
                <div class="12u$">
                    <label> lesson description </label>
                    <textarea name="lessonDescription" placeholder="Enter your lesson description" rows="2" required></textarea>
                </div>

                <!-- lesson content -->
                <div class="12u">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Write your lesson content</h4>
                            <h6 class="card-subtitle">Improve Your Mind</h6>
                            <hr>
                            <div class="form-group">
                                <textarea name="content" class="textarea_editor form-control" rows="15" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- lesson file -->
                <div class="6u 12u$(xsmall)">
                    <label> Choose lesson file </label>
                    <div class="box">
                        <p class="ref card-title">
                            Available file type:
                        </p>
                        <p class="ref"> <i class="icon fa-music"></i>  Media : MP4/MP3/WAV/FLAC    
                        <i class="icon fa-image"></i>  Picture : JPEG/PNG/GIF   
                        <i class="icon fa-book"></i>  Document : PDF</p>
                    </div>
                    <p>  </p>
                    <input type="file" name="lessonFile" />
                </div>

                <!-- submit -->
                <input type="hidden" value="<%= createdClass._id%>" name="id" />
                <div class="12u$ align-center">
                    <ul class="actions align-center">
                        <li><input type="submit" value="New lesson create" class="special"/></li>
                    </ul>
                </div>

            </div>
        </form>
    </div>
</section>

<%- include footer %>