<%- include header %>

<section id="log-in" class="wrapper style2">
    <div class="inner">
        <h3 class="align-center"> Log in </h3>

        <form method="post">
            <div class="row uniform 50%">
                <div class="12u$">
                    <input type="text" name="username" id="username" value="" placeholder="Username" />
                </div>
                <div class="12u$">
                    <input type="password" name="password" id="password" value="" placeholder="Password" />
                </div>

                <div class="12u$">
                    <ul class="actions align-center">
                        <li><input type="submit" value="Log in" class="special" id="log-in-1"/></li>
                        <a href="/sign-up" id="sign-up-0">Don't have an account? Sign up now</a>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</section>

<%- include footer %>