<%- include header %>

<section id="log-in" class="wrapper style2 special">
    <div class="inner">
        <h3 class="align-center"> Log in </h3>
        <hr>
        <form method="post">
            <div class="row uniform 30%">
                <div class="12u$">
                    <input type="text" name="username" placeholder="Username" />
                </div>
            
                <div class="12u$">
                    <input type="password" name="password" placeholder="Password" />
                </div>
            
                <div class="12u$">
                    <ul class="actions align-center">
                        <li><input type="submit" value="Log in" class="special" /></li>
                    </ul>
                </div>
                <div class="12u$">
                    <a href="/sign-up" id="sign-up-0">Don't have an account? Sign up now</a>
                </div>
            </div>
        </form>
    </div>
</section>

<%- include footer %>