 <div>
    <% if (success) { %>
        <div class="alert alert-success alert-dismissible">
            <strong>Success!</strong> <%= success %>
        </div>
    <% } %>

    <% if (error) { %>
        <div class="alert alert-danger alert-dismissible">
            <strong>Sorry!</strong> <%= error %>
        </div>
    <% } %>
 </div>