 <div>
        <% if (success) { %>
        <header class="align-center">
            <h4>Notification:
                <%= success %>
            </h4>
        </header>
        <% } %>

        <% if (error) { %>
     <header class="align-center">
         <h4>Notification:
             <%= error %>
         </h4>
     </header>
        <% } %>
 </div>