 <div>
    <% if (success) { %>
        <div class="alert alert-success alert-dismissible">
            <strong>Success!</strong> <%= success %>
            <a class="close button small">&times;</a>
        </div>
    <% } %>

    <% if (error) { %>
        <div class="alert alert-danger alert-dismissible">
            <strong>Error!</strong> <%= error %>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    <% } %>
 </div>