<%-include header %>

<!-- Profile Banner -->
<section id="profile-id" class="wrapper style2">
    <div id="bio">
        <a href="#" class="image"><img src="../public/images/pic06.jpg" width="100px" alt="user-photo" /></a>
    </div>
    <div id="name">
        <h2><%- user.name %></h2>
    </div>

    <div id="edit">
        <ul class="actions">
            <li><a href="#" class="button small">Edit profile</a></li>
        </ul>
    </div>

</section>

<!-- Subject section -->
<section id="profile-enrolled-class" class="wrapper style1">
    <div class="inner">
        <header>
            <h3> The subjects you enrolled</h3>
        </header>
        <div class="row">
        <div id="your-subject-1" class="4u 12u$(medium) box">
            <h4>Class name 1</h4>
            <ul class="alt">
                <li>Lesson 1 : description
                    <ul class="actions">
                        <li><a href="#" class="button small">Continue</a></li>
                    </ul>
                </li>
                <li>Lesson 2 : description
                    <ul class="actions">
                        <li><a href="#" class="button small">Start</a></li>
                    </ul>
                </li>
                <li>Lesson 3 : description</li>
                <li>Lesson 4 : description</li>
                <li>Lesson 5 : description</li>
            </ul>
        </div>
        <div id="your-subject-2" class="4u 12u$(medium) box">
            <h4>Class name 2</h4>
            <ul class="alt">
                <li>Lesson 1 : description
                    <ul class="actions">
                        <li><a href="#" class="button small">Continue</a></li>
                    </ul>
                </li>
                <li>Lesson 2 : description
                    <ul class="actions">
                        <li><a href="#" class="button small">Start</a></li>
                    </ul>
                </li>
                <li>Lesson 3 : description</li>
                <li>Lesson 4 : description</li>
                <li>Lesson 5 : description</li>
            </ul>
        </div>
        <div id="add-new-subject" class="4u$ 12u$(medium) box">
            <a href="#" class="button special big">+ Add more classes</a>
        </div>
        </div>
    </div>
</section>

<!-- your classes -->
<section id="profile-uploaded-class" class="wrapper style2">
    <div class="inner">
        <header>
            <h3> The classes you have uploaded</h3>
        </header>
        <div class="row">
            <div id="your-classes-1" class="4u 12u$(medium) box">
                <h4>Class name 1</h4>
                <ul class="alt">
                    <li>Lesson 1 : description
                        <ul class="actions">
                            <li><a href="#" class="button small">View</a></li>
                        </ul>
                    </li>
                    <li>Lesson 2 : description
                        <ul class="actions">
                            <li><a href="#" class="button small">View</a></li>
                        </ul>
                    </li>

                    <li><ul class="actions">
                        <li><a href="#" class="button small">Add more lessons</a></li>
                    </ul></li>
                </ul>
            </div>
            <div id="your-classes-2" class="4u 12u$(medium) box">
                <h4>Class name 2</h4>
                <ul class="alt">
                    <li>Lesson 1 : description
                        <ul class="actions">
                            <li><a href="#" class="button small">View</a></li>
                        </ul>
                    </li>
                    <li>Lesson 2 : description
                        <ul class="actions">
                            <li><a href="#" class="button small">View</a></li>
                        </ul>
                    </li>
                    <li><ul class="actions">
                        <li><a href="#" class="button small">Add more lessons</a></li>
                    </ul></li>
                </ul>
            </div>
            <div id="add-new-class" class="4u$ 12u$(medium) box">
                <a href="#" class="button special fit">+ Upload more classes</a>
            </div>
        </div>
    </div>
</section>

<!-- your discussion-->

<section id="profile-your-discussion" class="wrapper style1">
    <div class="inner">
        <header>
            <h1> Your discussion topics</h1>
        </header>
        <div class="table-wrapper">
            <table>
                <thead>
                <tr>
                    <th>Topic Name</th>
                    <th>Description</th>
                    <th>Time</th>
                    <th>Views</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="#">Topic</a> 1</td>
                    <td>Ante turpis integer aliquet porttitor.</td>
                    <td>05-10-2018</td>
                    <td> 3 views </td>
                </tr>
                <tr>
                    <td><a href="#">Topic</a> 2</td>
                    <td>Vis ac commodo adipiscing arcu aliquet.</td>
                    <td>06-10-2018</td>
                    <td> 5 views </td>
                </tr>
                <tr>
                    <td><a href="#">Topic</a> 3</td>
                    <td> Morbi faucibus arcu accumsan lorem.</td>
                    <td>05-10-2018</td>
                    <td> 10 views </td>
                </tr>
                <tr>
                    <td><a href="#">Topic</a> 4</td>
                    <td>Vitae integer tempus condimentum.</td>
                    <td>06-10-2018</td>
                    <td> 3 views </td>
                </tr>
                <tr>
                    <td><a href="#">Topic</a> 5</td>
                    <td>Ante turpis integer aliquet porttitor.</td>
                    <td>05-10-2018</td>
                    <td> 0 views </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td>No more content</td>
                </tr>
                </tfoot>
            </table>
        </div>

    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li><a href="#" class="icon fa-facebook">
                <span class="label">Facebook</span>
            </a></li>
            <li><a href="#" class="icon fa-twitter">
                <span class="label">Twitter</span>
            </a></li>
            <li><a href="#" class="icon fa-instagram">
                <span class="label">Instagram</span>
            </a></li>
            <li><a href="#" class="icon fa-linkedin">
                <span class="label">LinkedIn</span>
            </a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Untitled.</li>
            <li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
            <li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
        </ul>
    </div>
</footer>

<!-- Scripts -->
<script src="../public/assets/js/jquery.min.js"></script>
<script src="../public/assets/js/skel.min.js"></script>
<script src="../public/assets/js/util.js"></script>
<!--[if lte IE 8]>
<script src="../public/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="../public/assets/js/main.js"></script>

</body>
</html>