<%- include header %>

<section id="sign-up" class="wrapper style1">
    <div class="inner">
        <h3 class="align-center"> Join us </h3>
        <h3 class="align-center"> Sign up now </h3>

    <form method="post" enctype="multipart/form-data">
        <div class="row uniform 50%">
            <div class="6u 12u$(xsmall)">
                <input type="text" name="username" placeholder="Username" required/>
            </div>
            <div class="6u$ 12u$(xsmall)">
                <input type="email" name="email" placeholder="Email" required/>
            </div>
            <div class="6u 12u$(xsmall)">
                <input type="password" name="password" placeholder="Set your Password" required/>
            </div>
            <div class="6u$ 12u$(xsmall)">
                <input type="password" name="repassword" placeholder="Confirm your Password" required/>
            </div>

            <div class="6u 12u$(xsmall)">
                <label>Gender</label>
                <select class="6u 12u$(xsmall)" name="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="secret">Secret</option>
                </select>
            </div>

            <div class="6u$ 12u$(xsmall)">
                <label>Choose your photo</label>
                <input type="file" name="avatar">
            </div>

            <div class="12u$ align-center">
                <ul class="actions">
                    <li><input type="submit" value="Sign Up" class="special"/></li>
                </ul>
            </div>
            <div class="12u$ align-center">
                <a href="/login">Already have an account?</a>
            </div>
        </div>
    </form>
    </div>
</section>

<%- include footer %>