hr {
    margin: 0.8em 0;
}
h1 {
    margin: 0;
    padding-left:1em;
}
#subject-field ul li{
    margin-bottom: 3em;
}
#subject-field .icon{
    font-size: 2em;
    color:#51BAA4;
}

.classPage .box{
    border-color: #1E2832;
    border-width: 3px;
}
.classPageAnti .box{
    border-color: white;
    border-width: 3px;
}

.classPageAnti .card {
    background-color: transparent;
    border-color: aliceblue;
}

.popupBoxWrapper{
    width: 550px; margin: 50px auto; text-align: left;
}
.popupBoxContent{
    background-color: #FFF; padding: 15px;
}

#popupBoxOnePosition, #popupBoxTwoPosition, #popupBoxThreePosition{
    top: 0; left: 0; position: fixed; width: 100%; height: 120%;
    background-color: rgba(0,0,0,0.7); display: none;
}

.delete.button{
    color: aliceblue !important;
    background-color: tomato !important;
}

.bigicon .icon{
    font-size: 2em;
}